<h2>マイページ</h2>

<div>
  <table>
    <tbody>
      <tr>
        <td>氏名</td>
        <td><%= @customer.full_name %></td>
      </tr>
      <tr>
        <td>カナ</td>
        <td><%= @customer.name_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h4>登録会員情報</h4>
  <%= link_to "編集する", edit_customers_path, class: "btn btn-success mx-2" %>
</div>