<div class="container">
  <h2 class="bg-light m-5">マイページ</h2>
  <div class="row my-3">
    <div class="col-2">
      <h5 class="font-weight-bold">登録情報</h5>
    </div>
    <div class="col">
      <%= link_to "編集する", edit_customers_path, class: "btn btn-success" %>
    </div>
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td class="activ col-3">氏名</td>
        <td>
          <%= "#{@customer.last_name}　#{@customer.first_name}" %>
        </td>
      </tr>
      <tr>
        <td class="activ col-3">カナ</td>
        <td>
          <%= "#{@customer.last_name_kana}　#{@customer.first_name_kana}" %>
        </td>
      </tr>
      <tr>
        <td class="activ col-3">郵便番号</td>
        <td>
          <%= @customer.postal_code %>
        </td>
      </tr>
      <tr>
        <td class="activ col-3">住所</td>
        <td>
          <%= @customer.address %>
        </td>
      </tr>
      <tr>
        <td class="activ col-3">電話番号</td>
        <td>
          <%= @customer.telephone_number %>
        </td>
      </tr>
      <tr>
        <td class="activ col-3">メールアドレス</td>
        <td>
          <%= @customer.email %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row my-3">
    <div class="col-2">
      <h5 class="font-weight-bold">配送先</h5>
    </div>
    <div class="col">
      <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-2">
      <h5 class="font-weight-bold">注文履歴</h5>
    </div>
    <div class="col">
      <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>