<h4 class="mx-5">マイページ</h4>

<div class="d-flex my-3">
  <h4 class="font-weight-bold">登録情報</h4>
  <%= link_to "編集する", edit_customers_path, class: "btn btn-success" %>
</div>

<table class="table-bordered">
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= @customer.full_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= @customer.name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @customer.telephone_number %></td>
    </tr>
     <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>

<div class="d-flex">
  <h4 class="font-weight-bold">配送先</h4>
  <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
</div>

<div class="d-flex my-3">
  <h4 class="mx-4 font-weight-bold">注文履歴</h4>
  <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
</div>