<div class="container">
  <h2 class="bg-light m-3">新規会員登録</h2>
  <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
    <%= render "customers/shared/error_messages", resource: resource %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td><%= f.label :name, "名前" %></td>
          <td><%= f.label :last_name, "(姓)" %></td>
          <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "令和", class: "form-control" %></td>
          <td><%= f.label :first_name, "(名)" %></td>
          <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "太郎", class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :name_kana, "フリガナ" %></td>
          <td><%= f.label :last_name, "(セイ)", class: "col-form-label" %></td>
          <td><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "レイワ", class: "form-control" %></td>
          <td><%= f.label :first_name, "(メイ)" %></td>
          <td><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "タロウ", class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></td>
          <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "0000000", class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :address, "住所" %></td>
          <td colspan="4">
            <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "東京都渋谷区代々木神田町0-0", class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :telephone_number, "電話番号(ハイフンなし)" %></td>
          <td><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", placeholder: "0000000000", class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :password, "パスワード(6文字以上)" %></td>
          <td><%= f.password_field :password, autocomplete: "new-password", class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %></td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <%= f.submit "新規登録", class: "btn btn-success mx-auto" %>
    </div>
  <% end %>

  <h2 class="bg-light m-3">既に登録済みの方</h2>
  <p class="ml-5">
    <%= link_to "こちら", new_customer_session_path %> からログインしてください
  </p>
</div>