<div class="container">
  <div class="row">
    <h4 class="header col-lg-2 text-center bg-light my-4 ml-5">商品一覧</h4>
      <div class="col-lg-2 text-center my-4 ml-auto">
        <%= link_to new_admin_item_path, class: 'text-dark' do %>
        <i class="fas fa-plus-circle"></i>
        <% end %>
      </div>
  </div>
</div>

<table class="table mx-auto" style="width: 80%;">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th></th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, admin_item_path(item.id) %></td>
      <td><%= item.price.to_s(:delimited) %></td>
      <td><%= item.genre.name %></td>
      <td><%= item.is_active == true ? "販売中" : "販売中止" %></td>
    </tr>
   <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center"><%= paginate @items %></div>