<div class="container-md">
  <h2 class="bg-light m-5">商品一覧</h2>
  <div class="row my-3 justify-content-end">
    <%= link_to new_admin_item_path, class: "btn btn-success" do %>
      <i class="fas fa-plus-circle"></i>
      <span>新規登録</span>
    <% end %>
  </div>
  <table class="table table-border">
    <thead class="thead-light">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item) %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td><%= item.is_active ? "販売中" : "販売停止中" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>