<div class="container">
  <div class="row">
    <h4 class="mx-5 col-xs-7">商品一覧</h4>
    <label class="col-xs-5 row justify-content-end mx-5"><%= button_to "+", {controller: 'items', action: 'new'}, {method: :get } %></label>
  </div>
</div>

<table class="table mx-auto" style="width: 80%;">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th></th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, admin_item_path(item.id) %></td>
      <td><%= item.price.to_s(:delimited) %></td>
      <td><%= item.genre.name %></td>
      <td><%= item.is_active == true ? "販売中" : "販売中止" %></td>
    </tr>
   <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center"><%= paginate @items %></div>