<div class="container-md">
  <h2 class="bg-light m-5">商品一覧</h2>
  <div class="row my-3 justify-content-end">
    <%= link_to new_admin_item_path do %>
      <i class="fas fa-plus-circle"></i>
    <% end %>
  </div>
  <table class="table table-border">
    <thead class="thead-light">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item) %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td><% if item.is_active == true %>
              <p class="text-success">販売中</p>
            <% else %>
              <p class="text-secondary">販売停止中</p>
            <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @items %>
</div>