<div class="container-lg">
  <div class="row p-5">
    <div class="offset-md-1 col-md-6 border border-dark py-3">
      <p>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
    </div>
  </div>

  <div class="row p-3">
    <h2 class="font-weight-bold offset-md-4 col-md-3">新着商品</h2>
    <div class="offset-md-4 col-md-8">
      <% @items.first(4).each do |item| %>
      <div class="col-3">
        <%= link_to item_path(item.id) do %>
          <%= attachment_image_tag item, :image, class: "img-fluid" %>
        <% end %>
        <p class="font-weight-bold"><%= item.name %></p>
        <p class="font-weight-bold">¥<%= item.price.to_s(:delimited) %></p>
      </div>
      <% end %>
    </div>
  </div>

  <div class="text-right p-5">
    <%= link_to "全ての商品を見る >", items_path %>
  </div>

</div>