<h4>ログイン</h4>

<div>

  <h5>会員の方はこちらからログイン</h5>
  <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <%= f.submit "ログイン", class="btn btn-primary" %>
　<% end %>

　<h4>会員登録がお済みでない方</h4>
　<P><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</P>

</div>