<div class="container">
  <h2 class="row m-3 bg-light">注文情報入力</h2>

  <%= form_with model: @order, url: confirm_orders_path, local:true do |f| %>
    <div class="my-3">
      <h5 class="font-weight-bold">支払方法</h4>
      <div class="form-check ml-5">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0), class: "form-check-input" %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card], class: "form-check-label" %>
      </div>
      <div class="form-check ml-5">
        <%= f.radio_button :payment_method, Order.payment_methods.key(1), class: "form-check-input" %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer], class: "form-check-label" %>
      </div>
    </div>
    <div>
      <h5 class="font-weight-bold">お届け先</h5>
      <div>
        <div class="form-check ml-5 my-2">
          <%= f.radio_button :select_address, 0, class: "form-check-input" %>
          <%= f.label :select_address, "ご自身の住所", class: "form-check-label" %>
          <div>
            <%= "〒#{current_customer.postal_code} #{current_customer.address}" %>
            <%= "#{current_customer.last_name}#{current_customer.first_name}" %>
          </div>
        </div>
        <div class="form-check ml-5 my-2">
          <%= f.radio_button :select_address, 1, class: "form-check-input" %>
          <%= f.label :select_address, "登録済住所から選択", class: "form-check-label" %>
          <div>
            <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :full_address) %>
          </div>
        </div>
        <div class="form-check ml-5 my-2">
          <%= f.radio_button :select_address, 2, class: "form-check-input" %>
          <%= f.label :select_address, "新しいお届け先", class: "form-check-label" %>
          <table>
            <tr>
              <td><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></td>
              <td><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <td><%= f.label :address, "住所" %></td>
              <td><%= f.text_field :address, :size=>"60" %></td>
            </tr>
            <tr>
              <td><%= f.label :name, "宛名" %></td>
              <td><%= f.text_field :name %></td>
              </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary mx-auto" %>
    </div>
  <% end %>
</div>