<h4 class="mx-5">注文情報入力</h4>

<h4 class="mx-3 font-weight-bold">支払方法</h4>
  <%= form_with model:@order, url: orders_comfirm_path, local:true do |f| %>
  <div class="mx-4">
    <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
  </div>

  <h4 class="mx-3 font-weight-bold">お届け先</h4>
  <div class="mx-4">

  </div>

<div class="text-center">
  <%= f.submit '確認画面へ進む', class="btn btn-primary" %>
</div>
<% end %>