<h4 class="mx-5">注文履歴詳細</h4>

<div class="m-4 d-flex">

  <div class="flex-column">
    <h5 class="font-weight-bold">注文情報</h5>
    <table class="table-bordered">
      <tbody>
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>
            〒<%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td>支払方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td><%= @order.status_i18n %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex-column mx-3">
    <h5 class="font-weight-bold">請求情報</h5>
    <table class="table-bordered">
      <tbody>
        <tr>
          <td>商品合計</td>
          <td><%= @total.to_s(:delimited) %></td>
        </tr>
        <tr>
          <td>配送料</td>
          <td><%= @order.shipping_cost.to_s(:delimited) %></td>
        </tr>
        <tr>
          <td class="font-weight-bold">ご請求額</td>
          <td><%= @order.total_payment.to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="m-4">
  <h5 class="font-weight-bold">注文内容</h5>
  <table class="table-bordered">
    <thead>
      <tr>
        <td>商品</td>
        <td>単価(税込)</td>
        <td>個数</td>
        <td>小計</td>
      </tr>
    </thead>
    <tbody>
      <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.with_tax_price.to_s(:delimited) %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.subtotal.to_s(:delimited) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>